body {
  font-size: 14px;
  color: #fff;
  background-color: #000;
  padding-top: 80px;
}
.main-header {
  background-color: #0f171e;
  padding: 15px 0px;
}
.main-header .navbar-brand {
  background: url("https://i.postimg.cc/BnWBVtY4/download.png") no-repeat center
    center transparent;
  height: 40px;
  width: 168px;
  display: block;
  text-indent: -9999px;
  background-size: 120px;
}
.main-header .dropdown-menu {
  width: 455px;
  background-color: #252e39;
}
.main-header .dropdown-menu > li > ul {
  float: left;
  padding-left: 0px;
  min-width: 150px;
}
.main-header .dropdown-menu > li > ul + ul {
  border-left: 1px solid #0f171e;
}
.main-header .dropdown-menu > li > ul > li {
  list-style-type: none;
}

.main-header .dropdown-menu > li > ul > li > a {
  color: #c4cacf;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: all 0.5s ease-out;
}
.main-header .navbar-nav > li > a {
  font-size: 17px;
}
.main-header .dropdown-menu > li > ul > li > a:hover {
  background-color: #566b84;
}
.welcome-banner {
  background: url("https://i.postimg.cc/T17HbGfh/banner-image.jpg") no-repeat
    top right transparent;
  min-height: 300px;
}
.left-sidebar h4 {
  font-size: 20px;
  padding-top: 20px;
  line-height: 24px;
}
.cta-block {
  padding-top: 40px;
}
.cta-block .btn {
  height: 55px;
  border-radius: 0px;
  font-size: 17px;
}
.cta-block p {
  font-size: 14px;
  margin-top: 10px;
}
.line-divider {
  position: relative;
}
.line-divider:after {
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  content: "";
  background-color: white;
  top: 10px;
}
.line-divider span {
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.banner-image-left {
  background: url("https://i.postimg.cc/nz1WHBW4/banner-image-left.jpg")
    no-repeat top left transparent;
  min-height: 675px;
}
.right-sidebar,
.left-sidebar {
  padding-top: 180px;
}
.right-sidebar h4 {
  font-size: 20px;
  padding-top: 20px;
  line-height: 24px;
}
.cta-block-button .btn {
  height: 55px;
  border-radius: 0px;
  font-size: 17px;
  padding: 0px 100px;
  margin-top: 30px;
}
.banner-image-right {
  background: url("https://i.postimg.cc/50JGdns9/banner-image-right.jpg")
    no-repeat top right transparent;
  min-height: 675px;
}
.left-sidebar p {
  margin-top: 25px;
  font-size: 15px;
}
.banner-remote {
  background: url("https://i.postimg.cc/yNc5bwXr/banner-remote.jpg") no-repeat
    top left transparent;
  min-height: 675px;
}
.banner-middle img {
  display: inline-block;
}
.wrapper {
  background-color: white;
  color: black;
  padding-top: 60px;
}
.banner-middle p {
  font-size: 20px;
  font-weight: inherit;
}
.banner-remote-right {
  background: url("https://i.postimg.cc/0j2BrrgL/banner-remote-right.jpg")
    no-repeat top right transparent;
  min-height: 675px;
}
.footer img {
  display: inline-block;
  height: 40px;
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #101010;
}
.footer p span {
  color: white;
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .welcome-banner {
    background-position: 0% top;
  }
  .banner-image-left {
    background-position: 55% top;
  }
  .banner-image-right {
    background-position: 30% top;
  }
  .banner-remote {
    background-position: 23% top;
  }
  .banner-middle h1 {
    font-size: 20px;
  }
  .banner-middle p {
    font-size: 15px;
  }
  .banner-remote-right {
    background-position: 51% top;
  }
}
@media screen and (max-width: 767px) {
  .welcome-banner {
    background: none;
    text-align: center;
  }

  .welcome-banner .left-sidebar {
    padding-top: 0px;
  }
  .banner-image-left,
  .banner-image-right,
  .banner-remote,
  .banner-remote-right {
    background: none;
    min-height: 0px;
  }
  .right-sidebar,
  .left-sidebar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
